@import "globals";

div.app {
  display: flex;
  flex-direction: column;
  height: 100%;
}

div.whoops-404 {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 99;
  background-color: red;
  color: white;
}
