html, body, #react-container {
  height: 100%;
  margin: 0;
  padding: 0;
}

#react-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.star-rating {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.star {
  cursor: pointer;
  width: 2em;
  height: 2em;
  background-color: grey;
  -webkit-clip-path:
    polygon(50% 0%, 63% 38%, 100% 38%,
      69% 59%, 82% 100%, 50% 75%,
      18% 100%, 31% 59%, 0% 38%, 37% 38%);
  clip-path: polygon(50% 0%, 63% 38%,
    100% 38%, 69% 59%, 82% 100%,
    50% 75%, 18% 100%, 31% 59%,
    0% 38%, 37% 38%);
}

.star.selected {
  background-color: red;
}

p {
  flex-basis: 100%;
  text-align: center;
}
