@import "globals";

div.home {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

  h1 {
    font-size: 3em;
    color: slategray;
  }

  > div {
    background-color: slategray;
    padding: 1em;
    border-top: dashed .5em ghostwhite;
    border-bottom: dashed .5em ghostwhite;
    width: calc(100% - 2em);
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

    a {
      font-size: 2em;
      color: ghostwhite;
      flex-basis: 200px;
    }
  }

}

div.whoops-404 {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  background-color: darkred;
  color: ghostwhite;
  font-size: 1.5em;
}